.pgan-filter-extension,
.pgan-filter-extension button {
  /*font-size: 30px;*/
}

.pgan-filter-extension button {
  /*margin: 0px 15px;*/
  border: 1px solid #18191c;
}

.pgan-filter-extension button:active {
  filter: invert(1);
}

.pgan-filter-extension {
  user-select: text;
  background-color: rgba(255, 255, 255, .60);
  position: absolute;
  z-index: 999;
  top: 88px;
  bottom: 80px;
  right: 16px;
  left: 825px;
  /*max-width: 500px;*/
  overflow: auto;
}

.pgan-filter-extension .pgan-link {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 85px;
  height: 35px;
  border: 1px solid violet;
  background-color: rgba(173, 216, 230, .25);
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
  border-top-left-radius: 5px;
}

.extension-controls {
  padding: 10px;
}

.mon-container {
  /*border: 1px solid #CCC;*/
  color: #FFF;
  position: relative;
  margin: 5px;
  /*height: 300px;*/
  /*height: auto;*/
  /*width: 200px;*/
  /*font-size: 20px;*/
}

.mon-header {
  padding: 5px;
  background-color: #562ba6;
  border-left: 4px solid #de33ad;
}

.mon-container.U .mon-header {
  background-color: #2f333e;
  border-left: 4px solid #e5d153;
}

.mon-container.G .mon-header {
  background-color: #2c44aa;
  border-left: 4px solid #f64132;
}

.mon-grid {
  flex-wrap: wrap;
  height: 100%;
}

.mon-grid.satellite-map img {
  float: right;
}

.mon-location {
  background-color: rgba(0, 0, 0, .25);
  padding: 5px;
  border-bottom-right-radius: 5px;
}

.mon-map {
 background-color: #edebe4;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.height-fill {
  height: 100%;
}

.absolute {
  position: absolute;
}
